.barBackground {
  fill: var(--card-background);
  transition: fill 0.5s ease-out;
}

.bar {
  fill: var(--primary-accent-light);
  transition: fill 0.5s ease-out;
}

.barGroup {
  transition: fill 0.5s ease-out;
}

.barGroup:hover .bar {
  fill: var(--primary-accent);
  filter: drop-shadow(0 0 calc(4rem / 16) var(--primary-accent));
}

.tickLabel {
  font-family: "Lexend", sans-serif;
  font-weight: 800;
  fill: var(--label);
}

.axisLabel {
  font-family: "Lexend", sans-serif;
  font-weight: 800;
  fill: var(--label);
}
